<html>
    <head>
        <title>{{ title }}</title>
    </head>

    <body>
        <div>
            Hellloo
        </div>

        <form method="post" action="/test/send">
            <label>name</label>
            <input type="text" name="first_name">
            <label>email</label>
            <input type="text" name="email">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>